@use './../../style/main' as *;

.contact {
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  @extend %background;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $text;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.1rem;
    color: $text;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;

    input,
    textarea,
    select {
      width: 100%;
      padding: 0.55rem 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;
      resize: none;
      font-family: inherit;
      background: white;
      color: black;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: rgb(176, 144, 89);
        box-shadow: 0 0 0 3px rgba(216, 180, 226, 0.3);
      }
    }

    select {
      appearance: none;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23333' d='M1 1l6 6 6-6'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 1em;
      color: black;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      padding-right: 30px;
    }

    button {
      background-color: rgb(176, 144, 89);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: background $transition;
      width: 200px;
      text-wrap: nowrap;
      display: flex;
      justify-content: center;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      padding: 0.75rem 4rem;

      &:hover {
        background-color: rgb(57, 16, 5);
      }
    }

    .success_message {
      margin-top: 1rem;
      color: $success;
      font-weight: 500;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__data {
    width: 100%;
    display: flex;


  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    color: $text;
    font-family: 'Times New Roman', Times, serif;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        color: $text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      font-size: 1.5rem;
      color: $text;

      &:hover {
        color: gold;
      }
    }
  }
}

.paypal_wrapper {
  width: 100%;
  margin-bottom: 2rem;
  padding-top: 2rem;


  @include on-desktop {
    padding-top: 0;
    width: 100%;

  }

  
}