@use './../../../../style/main' as *;

.serviceSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.serviceGrid {
  --column-size: 252px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--column-size), 1fr));
  gap: 40px 16px;

  @include on-tablet {
  --column-size: 290px;
    
  }
}