$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$primary: #e6e1e8;
$secondary: #6e3974;
$bg: rgb(176, 144, 89);
$bgh: rgb(57, 16, 5);
$text: #fff;
$success: green;
$transition: 0.3s ease-in-out;