@font-face {
  font-family: Mont;
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url('/fonts/PlayfairDisplay-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url('/fonts/PlayfairDisplay-Bold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

