@use './../../../style/main' as *;

.nav {
  background-color: $bg;
  height: 100dvh;
  width: 200px;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid black;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    row-gap: 30px;
  }

  &__item {}

  &__link {
    color: black;
    font-size: 25px;
    padding: 12px 10px;
    box-sizing: border-box;

    &:hover {
      text-shadow: 0px 0px 15px white,
        0px 0px 25px white,
        0px 0px 35px white;
    }
  }
}