@use './../../style/main' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(176, 144, 89);
  box-shadow: 15px 15px 20px black, -15px -1px 20px black;
  border-radius: 1rem;
  margin-block: 20px 40px;
  box-sizing: border-box;
  padding-inline: 20px;
  position: relative;

  &__language {
    display: flex;
    column-gap: 10px;
    position: absolute;
    right: 10px;
    bottom: -25px;
    color: $bg;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;

    .active {
      text-decoration: underline;
    }
  }

  &__number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    & a {
      color: black;
    }
  }

  &__logo {
    height: 100%;

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-shrink: 0;
    }

    & img {
      height: 80px;

      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      transform-origin: left center;

      object-fit: cover;
      object-position: 0 7px;

      @supports (-webkit-touch-callout: none) {
        object-position: 0 7px;
      }
    }
  }
}

.nav {

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__burger_menu {
    position: fixed;
    left: -210px;
    top: 0;
    z-index: 9999;

    transition: left $transition;
    -webkit-transition: left $transition;

    &.active {
      left: 0;
    }
  }

  &__burger {
    display: flex;
    height: 100%;
    color: black;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      display: none;
    }
  }
}
