@use './../../../style/main' as *;

.nav {
  height: 100%;

  &__list {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  &__item {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
    font-size: 22px;
    color: black;
    transition: all $transition;


    &:hover {
      text-shadow: 0px 0px 15px white,
      0px 0px 25px white,
      0px 0px 35px white;
    }
  }
}