@use './../../../style/main' as *;

.nav {
  height: 100%;
  display: none;

  @include on-tablet {
    display: flex;
  }

  &__list {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    @include on-desktop {
      column-gap: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 5px;
    box-sizing: border-box;
    position: relative;
    color: black;
    transition: all $transition;

    @include on-tablet {

      font-size: 18px;
    }

    @include on-desktop {
      font-size: 22px;

    }

    &:hover {
      text-shadow: 0px 0px 15px white,
        0px 0px 25px white,
        0px 0px 35px white;
    }
  }


}