@use './style/main.scss' as *;

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  min-width: 320px;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../img/bgphoto1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;

  @include on-tablet {
    background-position: 15%;

  }

  @include on-desktop {
    background-position: left;

  }
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $text;
  font-family: Mont, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;

  & a,
  & button {
    cursor: pointer;
    text-decoration: none;
  }
}

.main {
  flex-grow: 1;
}

.footer {}